# Theme Settings
#
# Review documentation to determine if you should use `theme` or `remote_theme`
# https://mmistakes.github.io/minimal-mistakes/docs/quick-start-guide/#installing-the-theme

# theme                  : "minimal-mistakes-jekyll"
# remote_theme           : "mmistakes/minimal-mistakes"
minimal_mistakes_skin: contrast
search: true
search_full_content: true

# Site Settings
title: Семейный инклюзив театр i
email: your-email@example.com
description: >- # this means to ignore newlines until "baseurl:"
  Write an awesome description for your new site here. You can edit this
  line in _config.yml. It will appear in your document head meta (for
  Google search results) and in your feed.xml site description.
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com


# Site Footer
footer:
  links:
    - label: "Youtube"
      icon: "fab fa-fw fa-youtube-square"
      # url:"https://www.youtube.com/channel/UCb41oMHjMOzA0ukYjc_GU6g/"
    - label: "Facebook"
      icon: "fab fa-fw fa-facebook-square"
      # url:"https://facebook.com/"
    - label: "Instagram"
      icon: "fab fa-fw fa-instagram"
      # url:"https://www.instagram.com/inclusivetheatre/"
    - label: "Email"
      icon: "fas fa-fw fa-envelope-square"
      # url: "mailto:info@theatre-i.by"


# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes

# Outputting
permalink: /:categories/:title/
paginate: 10 # amount of posts to show
paginate_path: /page:num/
timezone: "Europe/Minsk" 

words_per_minute: 200

future: false

include:
  - _pages

plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
